.work-wrapper {
  margin-bottom: 200px;
  overflow: hidden;
}
.card__container--closed {
  border-radius: 14px;
}
.card-image {
  max-width: 900px;
  margin: 0 auto;
  padding: 35px 30px 100px;
}
.card-image img {
  width: 100%;
}
.image-section {
  padding-bottom: 40px;
}
.image-section .title {
  padding-bottom: 20px;
  font-size: 1.5em;
  color: #3b393d;
  font-weight: 300;
  font-style: normal;
}
.video-wrapper {
  position: relative;
  padding-top: 56.2%;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
